@import "../../scss/index.scss";
$weight:700;

.services{
background-color:$five;
color: $one;
margin-bottom: 125px;

h2{
    text:{ 
    transform:uppercase;
   align:center ;
   
    }

    font:{
        weight:700;
    }

}
}

.service{
    padding-top: 65px;
    padding-bottom: 135px;
    div{
        margin: 10px 5px;
        p{
            font-weight: 700;
        }
    }
}