@import "../../scss/index.scss";

.card{
    .card_title{
        font-weight: 700;
        font-size: 1.5rem;
    }
    .card_footer{
        color:$six;
        margin-bottom: 72px;
       
     font-size: 1.125rem;
    }
    .card_text{
        font-size: 1.125rem;
    }
    p{
        margin-top: 32px;

    }
}

.hr{
    width: 80px;
    border-width: 1px;
    display: inline-block;
    transform: translateY(15px);
    align-self: flex-start;
    border-color: $six;
}

@media screen and (max-width:280px) {
    .img{
        height: auto;
    }
}