@import "../../scss/index.scss";

%link-height {
  line-height: 3;
}
.footer {
  background-color: $five;
  color: $one;
  .foot_border {
    border-bottom: 1px solid $borderColor;
    width: 1440px;
    margin: 0 auto;
    padding: 61px;
  }
  h2 {
    font-weight: 700;
  }
  li,
  .textHeight,
  h2 {
    @extend %link-height;
  }
}

.bottom_footer {
  width: 1440px;
  margin: 0 auto;
  padding: 61px;
  p {
    color: rgba(245, 243, 244, 0.7);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}
