@import "../../scss/index.scss";

%link-height{
    line-height:3;
}
.footer{
    background-color:$five;
    color:$one;
.foot_border{
    border-bottom:1px solid $borderColor

}
h2{
    font-weight: 700;
}
li, .textHeight,h2{
   @extend %link-height;
   
}

}

.bottom_footer{
    p{
        color: rgba(245, 243, 244, 0.7);
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
       

    }
}
