@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #F9F9F9;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  margin: 0 auto;
  flex: 1;
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: 0 auto;

}
.swiper-pagination-bullet{
  background-color:#f9a61b !important;
}