@import "../../scss/index.scss";

.nav {
  .content {
    max-width: 1440px;
    margin: 0 auto;
    .co {
      padding: 0 2rem;
      @include mq("fluid-out") {
        padding: 0;
      }
    }
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    @include mq("tablet") {
      width: 267px;
      height: 40px;
      margin-top: 42px;
      margin-left: 61px;
    }
  }
  .navItems {
    @include mq("fluid-out") {
      margin-top: 46px;
      width: 100% !important;
      padding-right: 57px;
      justify-content: flex-end;
    }
    button {
      text-transform: capitalize;
    }
  }
}
